
<dict>
	<key>myServiceConfig</key>
	<false/>
	<key>GoogleStandby</key>
	<false/>
	<key>GoogleBannerKey</key>
	<string>ca-app-pub-6719639781124001/4429751717</string>
	<key>GoogleWindowKey</key>
	<string>ca-app-pub-6390196606212387/8613360456</string>
	<key>ReplaceBannerKey</key>
	<string>ca-app-pub-6719639781124001/7950038797</string>
	<key>ReplaceWindowKey</key>
	<string>ca-app-pub-6719639781124001/5390613621</string>
	<key>LyBannerURL</key>
	<string>http://www.manwei.wang/contents/View/2388.html</string>
	<key>LyBannerImageURL</key>
	<string>https://i.postimg.cc/WbJPJkb7/banner.png</string>
	<key>LyWindowURL</key>
	<string>http://www.manwei.wang/contents/View/2388.html</string>
	<key>LyWindowImageURL</key>
	<string>https://i.postimg.cc/HxGMd5xP/window.png</string>
</dict>
